@model K22CNT4_TTCD1_NguyenThiTraMi.Models.EF.NttmProduct
@{
    ViewBag.Title = "Cập nhật sản phẩm";
    Layout = "~/Areas/NttmAdmin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/NttmAdmin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/NttmAdmin/NttmProduct" class="nav-link">Sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Cập nhật</a>
        </li>
    </ul>
}

<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Cập nhật/li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin Cập nhật sản phẩm</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("NttmEdit", "NttmProduct", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x=>x.NttmId)
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                    @*<li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>*@
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">SEO</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên sản phẩm</label>
                                            @Html.TextBoxFor(x => x.NttmTitle, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.NttmTitle, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Alias</label>
                                            @Html.TextBoxFor(x => x.NttmAlias, new { @class = "form-control", @placeholder = "Alias" })
                                            @Html.ValidationMessageFor(x => x.NttmAlias, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">SKU</label>
                                            @Html.TextBoxFor(x => x.NttmProductCode, new { @class = "form-control", @placeholder = "Mã sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.NttmProductCode, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Danh mục</label>
                                            @Html.DropDownListFor(x => x.NttmProductCategoryID, ViewBag.ProductCategory as SelectList, "Chọn danh mục sản phẩm", new { @class = "form-control", @placeholder = "Danh mục sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.NttmProductCategoryID, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Mô tả</label>
                                            @Html.TextAreaFor(x => x.NttmDescription, new { @class = "form-control", @placeholder = "Mô tả" })
                                            @Html.ValidationMessageFor(x => x.NttmDescription, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Chi tiết sản phẩm</label>
                                            @Html.TextAreaFor(x => x.NttmDetail, new { @class = "form-control", @id = "txtDetail" })
                                            @Html.ValidationMessageFor(x => x.NttmDetail, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Số lượng</label>
                                                    @Html.TextBoxFor(x => x.NttmQuantity, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(x => x.NttmQuantity, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá</label>
                                                    <input type="text" name="demoPrice" id="demoPrice" value="@Model.NttmPrice" class="form-control auto" data-a-dec="," data-a-sep=".">
                                                    @Html.HiddenFor(x => x.NttmPrice, new { @class = "", @placeholder = "Giá" })
                                                    @Html.ValidationMessageFor(x => x.NttmPrice, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá khuyến mãi</label>
                                                    <input type="text" name="demoPriceSale" id="demoPriceSale" value="@Model.NttmPriceSale" class="form-control auto">
                                                    @Html.HiddenFor(x => x.NttmPriceSale, new { @class = "form-control", @placeholder = "Khuyến mãi" })
                                                    @Html.ValidationMessageFor(x => x.NttmPriceSale, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá nhập</label>
                                                    <input type="text" name="demoOriginalPrice" id="demoOriginalPrice" value="@Model.OriginalPrice" class="form-control auto">
                                                    @Html.HiddenFor(x => x.OriginalPrice, new { @class = "form-control", @placeholder = "Giá nhập" })
                                                    @Html.ValidationMessageFor(x => x.OriginalPrice, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input", @id = "customCheckbox2", @checked = "checked" })
                                                        <label for="customCheckbox2" class="custom-control-label">Hiển Thị</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.NttmIsHot, new { @class = "custom-control-input", @id = "IsHotCheckbox" })
                                                    <label for="IsHotCheckbox" class="custom-control-label">Hot</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.NttmIsFeature, new { @class = "custom-control-input", @id = "IsFeatureCheckbox" })
                                                    <label for="IsFeatureCheckbox" class="custom-control-label">Nổi bật</label>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="custom-control custom-checkbox">
                                                    @Html.CheckBoxFor(x => x.NttmIsSale, new { @class = "custom-control-input", @id = "IsSaleCheckbox" })
                                                    <label for="IsSaleCheckbox" class="custom-control-label">Khuyến mãi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">
                                        <form class="form-horizontal">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 col-form-label">Seo Title</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(x => x.NttmSeoTitle, new { @class = "form-control", @placeholder = "SeoTitle" })
                                                    @Html.ValidationMessageFor(x => x.NttmTitle, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail" class="col-sm-2 col-form-label">SeoKeyWords</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(x => x.NttmSeoKeyWords, new { @class = "form-control", @placeholder = "SeoKeyWords" })
                                                    @Html.ValidationMessageFor(x => x.NttmSeoKeyWords, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputName2" class="col-sm-2 col-form-label">SeoDescription</label>
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(x => x.NttmSeoDescription, new { @class = "form-control", @placeholder = "SeoDescription" })
                                                    @Html.ValidationMessageFor(x => x.NttmSeoDescription, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success">Lưu</button>
                                <a href="/NttmAdmin/NttmProduct/NttmIndex" class="btn btn-danger">Quay lại</a>
                            </div>
                        </div>
                        <!-- /.card -->
                    }
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts{
    <script>
        $(document).ready(function () {
            $('.auto').autoNumeric('init');
            $('#demoPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPrice').autoNumeric('get');
                $('#NttmPrice').val(demoGet);
                $('#NttmPrice').autoNumeric('set', demoGet);
            });
            $('#demoPriceSale').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoPriceSale').autoNumeric('get');
                $('#NttmPriceSale').val(demoGet);
                $('#NttmPriceSale').autoNumeric('set', demoGet);
            });
            $('#demoOriginalPrice').bind('blur focusout keypress keyup', function () {
                var demoGet = $('#demoOriginalPrice').autoNumeric('get');
                $('#OriginalPrice').val(demoGet);
                $('#OriginalPrice').autoNumeric('set', demoGet);
            });

            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });


        });
    </script>
    
}


